.header {
    // padding: 10px 50px 10px 70px;
    box-shadow: 0px 2px 15px -7px rgba(0, 0, 0, 0.75);

    .HearderBar {
        background-color: #004891;

        .dropdown-toggle {
            color: #cecece;
        }
    }

    .MainHeader {
        background-color: #0066cc;
    }

    .MainHeader,
    .HearderBar {
        padding: 10px 50px 10px 70px;
        display: flex;
        justify-content: space-between;

        .header-left {
            display: flex;
            align-items: center;
            gap: 5px;

            .Bar-title {
                color: #ffffff;
            }

            .SiteLogo {
                cursor: pointer;
            }
        }

        .header-right {
            display: flex;
            align-items: center;
            gap: 10px;

            .H_line {
                height: 90%;
                width: 1px;
                background-color: #cecece;
            }

            .HeaderSearchIcon {
                cursor: pointer;
                background-color: #cecece;
                padding: 7px 10px;
                border-radius: 50%;

                svg {
                    fill: #0066cc;
                }
            }
        }
    }

}