@import '../helper/_theme.scss';

.it-header-slim-wrapper {
    background-color: $secondary--color;
}

.it-header-center-wrapper {
    background-color: $primary--color;
}

.userLineIcon {
    fill: $primary--color;
}

.SearchIcon {
    fill: $primary--color !important;
}

.SeccondHeaderBar {
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    a {
        color: #ffffff;
        text-decoration: none;
        padding: 7px 20px;
    }
}

.CWF-logo {
    svg {
        width: 60px !important;
        height: 60px !important;
    }
}

.menubar {
    display: none;
}

@media screen and (max-width:768px) {
    .SeccondHeaderBar {
        display: none;
    }

    .menubar {
        display: block;
        cursor: pointer;
    }

    .CWF-logo {
        svg {
            width: 40px !important;
            height: 40px !important;
        }
    }
}